<!DOCTYPE html>
<html>

<head>
    <title><% tilte %> </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- css -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- bootstrap css -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">

</head>

<body>
    <!--NAV BAR HERE-->
    <hearder class="main-header">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div>
                <a class="navbar-brand" href="Home.html">
                    <img src="https://via.placeholder.com/50x50.png?text=logo" alt="">
                </a>
            </div>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" href="Home.html">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            About Us
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="Aboutus.html">Who We Are</a>
                            <a class="dropdown-item" href="#">Testimonials</a>
                            <a class="dropdown-item" href="#">Photos</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            China Tours
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Why China</a>
                            <a class="dropdown-item" href="#">Chia Trip Plans</a>
                            <a class="dropdown-item" href="#">Trips Next Year</a>
                            <a class="dropdown-item" href="#">Custom Tours</a>
                            <a class="dropdown-item" href="#">Book a Tour</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="StudyinChina.html">Study in China</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Teach in China</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Information Center
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Passport and Visa</a>
                            <a class="dropdown-item" href="#">Vaccinations</a>
                            <a class="dropdown-item" href="#">Trip Planning</a>
                            <a class="dropdown-item" href="#">China Info</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Contact Us
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Contact Info</a>
                            <a class="dropdown-item" href="#">Visit Us On Facebook</a>
                        </div>
                    </li>
                </ul>
            </div>
            <div>
                <a href="./HTMLS/Login.html" class="btn btn-primary btn-lg btn-sm active" role="button"
                    aria-pressed="true">Login</a>
                <a href="./HTMLS/Signup.html" class="btn btn-primary btn-lg btn-sm active" role="button"
                    aria-pressed="true">Signup</a>
            </div>
        </nav>
        <div class="text-center text-white bg-dark">
            Explore China's History & Culture
            <!-- <p class="text-white bg-dark">Explore China's History & Culture</p>
            <p class="text-white bg-dark">Enjoy Beautiful Ccenery & Renowned Sites</p> -->
        </div>
        <div class="text-center text-white bg-dark">
            Enjoy Beautiful Cenery & Renowned Sites
            <!-- <p class="text-white bg-dark">Explore China's History & Culture</p>
                <p class="text-white bg-dark">Enjoy Beautiful Ccenery & Renowned Sites</p> -->
        </div>
    </hearder>
    <!--NAV BAR ENDS-->
    <!-- content -->
    <!-- slide show -->

    <main class=" container p-5">