<%- include('./includes/header.ejs')%>

<div class="pageTitle">
			<img src="/images/CT1.jpg" >
		<div class=" pageInfor">
			<h2>China Trip Plans</h2>
			<p>China 3-Best-Cities Tour:  <b>Beijing - Xi'an - Shanghai</b>, with site visit for professional development.</p>
		</div>
</div>
<div class="container"> 
	<div class="row">
		<h3>China 3-Best-Cities Tour</h3>
		<div>
			<p>If China is in your plans, please book your tour early. Join us on our wonderful tours to experience China's long history, unique culture, and rapid modernization, enjoy its beautiful scenery, learn about its educational system, taste its cuisine, and much more.</p>
		</div>
	</div>


	<div class="row">
		<h3>Two Sessions</h3>
	</div>
	<div class='row'>
		<div class="col-md-2">
			<b><i>Spring</i></b>  
		</div>
		<div class="col-md-10">
			<p>Date:  March 16-24, 2019 | Cost: $2,798 | Application Deadline:Dec 16, 2018</p>
			<p>Date: April  20-28, 2019 | Cost: $2,798 | Application Deadline: Jan 20, 2019</p>
		</div>
	</div>
	<div class='row'>
		<div class="col-md-2">
			<b><i>Summer</i></b>  
		</div>
		<div class="col-md-10">
			<p>Date: March 16-24, 2019 | Cost: $2,798 | Application Deadline:Dec 16, 2018</p>
			<p>Date: May 21-29, 2019 | Cost: $3,298 | Application Deadline: Feb 20, 2019</p>						
		</div>
		
	</div>
	<div class="row">
		<h3>Distinguished Features:</h3>
	</div>
	<div class="row">
		<ol>
			<li>Escorted, int'l flights, meals and admissions inclusive tour packages</li>
			<li>Visit school, college, business, government agency, NGOs</li>
			<li>Luxury hotel accommodations in all cities</li>
			<li>Visits to important historic and cultural site in 3 best Chinese cities</li>
		</ol>
		<p> Click To View details--> <a href="/images/TourItinerary.pdf">Tour Itinerary</a>, Click to view the <a href="https://uschina-education.org/images/BXS.jpg">route map</a></p>
	</div>
	<div class="row">
		<p> <b>Beijing</b> China’s national capital, in North China.  </p>
		<img src="/images/beijing.jpg" class="img-responsive fit-image">	
	</div>
	<div class="row">
		
			<p> <b>	Xi'an</b> Capital of 10 Chinese dynasties, starting point of the ancient over-land Silk Road, in West China.</p>
			<img src="/images/xian.jpg" class="img-responsive fit-image">
	</div>
	<div class="row">
			
			<p> <b>Shanghai</b> China’s leading metropolis & financial center, in Southeast China.</p>
			<img src="/images/shanghai.jpg" class="img-responsive fit-image">
	</div>

	<div class="row">
		<h3>Custom Tours</h3>
	</div>
	<div class="row">
		<p>USCEC also assists schools, colleges and professional organizations in planning group China tours according to their particular needs.</p>
		<p>Customized tours for schools: Every 10 students, the teacher goes for free. Contact us for details.</p>	
		<p>We have helped organize China tours for schools and other organizations. Those customized tours can tailor the itinerary to your particular needs and interests, with visits to schools, colleges/universities, hospitals, businesses, government agencies, NGO's, museums, etc. that can help advance your educational and professional goals.</p>
		<p>If you have a group for customized travel, please contact us via email at
			<a href="mailto:UsChinaEducation@yahoo.com">UsChinaEducation@yahoo.com</a></p>
	</div>
</div>


<%- include('./includes/footer.ejs')%>