<%- include('./includes/header.ejs')%>

<div class="pageTitle">
	<div class="row">
            <div class="col-md pageImg">
                <img src="/images/pic22.jpg" class="img-responsive fit-image">
            </div>
            <div class="col-md pageInfor">
            <div>
                <h2>Info Center</h2>
            </div>
        </div>
	</div>
</div>

<div class="container">
    <div class="row">
        <div class="row">
            <p>Nowadays, with the convenience provided by internet, you can easily search for information on any topic you want to know about China.</p>
            <p>Here we only recommend a few topics, with links to Wikipedia: </p>
        </div>
        <ol>
            <li><a href="http://en.wikipedia.org/wiki/History_of_China">History of China</a></li>
            <li><a href="http://en.wikipedia.org/wiki/Geography_of_China">China Geography</a></li>
            <li><a href=" http://en.wikipedia.org/wiki/Education_in_the_People's_Republic_of_China">Chinese Education</a></li>
            <li><a href="http://en.wikipedia.org/wiki/Religion_in_China">Religion in China</a></li>
            <li><a href="http://en.wikipedia.org/wiki/Chinese_art">Chinese Art</a></li>
            <li><a href="http://en.wikipedia.org/wiki/Politics_of_the_People's_Republic_of_China">Chinese Political System</a></li>
            <li><a href="http://en.wikipedia.org/wiki/List_of_ethnic_groups_in_China">Ethnic Diversity in China</a></li>
            <li><a href="http://en.wikipedia.org/wiki/Tibet">Tibet</a></li>
        </ol>
    </div>
</div>



<%- include('./includes/footer.ejs')%>