<%- include('./includes/header.ejs')%>

<div class="pageTitle">
	<div class="row">
            <div class="col-md pageImg">
                <img src="/images/pic24.jpg" class="img-responsive fit-image">
            </div>
            <div class="col-md pageInfor">
            <div>
                <h2>Contact us</h2>
            </div>
        </div>
	</div>
</div>

<div class="container">
    <div class="row">
        <p>We rely on email as our primary mode of communication. If you have any questions or recommendations, please first email us at: </p>
    </div>
    <div class="row">
        <p>UsChinaEducation@yahoo.com</p>
    </div>
    <div class="row">
        <p>We normally can respond to you very quickly.</p>
    </div>
    <div class="row">
        <p>However, if you have questions that need to be discussed on the phone, please kindly include your telephone numbers and the times for us to call you back. </p>
    </div>
    <div class="row">
        <p>Thanks for visiting our website. We look forward to hearing from you. </p>
    </div>
</div>

<%- include('./includes/footer.ejs')%>