<%- include('./includes/header.ejs')%>
<div class="container p-5">
    <form class="signup-form" action="/signup" method="post">
        <%- include('./includes/error-message.ejs') %>

        <div class="form-group">
            <label for="email">Username</label>
            <input type="text" class="form-control" id="username" name="username" aria-describedby="usernameHelp">
            <small id="usernameHelp" class="form-text text-muted">Please Enter your username</small>
        </div>

        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" id="email" name="email" aria-describedby="emailHelp">
            <small id="emailHelp" class="form-text text-muted">Please Enter your email</small>
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" aria-describedby="passwordHelp">
            <small id="passwordHelp" class="form-text text-muted">Please Enter your password</small>
        </div>

        <div class="form-group">
            <label for="confirmPassword">Confirm Password</label>
            <input type="password" class="form-control" id="confirmPassword" name="confirmPassword"
                aria-describedby="confirmPasswordHelp">
            <small id="confirmPasswordHelp" class="form-text text-muted">Please Enter the confirm password</small>
        </div>
        
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</div>

<%- include('./includes/footer.ejs')%>