<%- include('./includes/header.ejs')%>

<div class="pageTitle">
	<img src="/images/TIC1.jpg">
	<div class="pageInfor">
			<h2>Teach in China</h2>
			<p>Retirees from any profession are welcome to apply.Teaching experience is not required. Native English proficiency is mandatory.</p>
	</div>
</div>
<div class="container">
	<div class="row">
		<h3> What to prepare</h3>
	</div>
	<div class= "row">
		<ol>
			<li>A good scan copy of your passport. (for visa pre-approval purpose)</li>
			<li>To qualify for the work permit to be approved by the Foreign Experts Bureau in China,the applicant needs to have <b>a bachelor's degree (in any field) and two years of post-graduation experience (in any area, althou teaching experience is preferred)</b></li>
			<li>Two letters of reference are also required.</li>
		</ol>
	</div>
	<div class="row">
		<p>If a contract is offered following a telephone interview, the applicant will need to provide the following:</p>
		<ol>
			<li>a valid passport that does not expire within the next two years</li>
			<li>photocopy of the bachelor's degree (and other degrees, if applicable)</li>
		</ol>
	</div>
	

	<div class="row">
		<h3>What to expect</h3>
	</div>
	<p>The following links give you an idea of what a typical teaching position is like;it is in Baoying (part of the City of  Yangzhou, which is not far from Shanghai):  </p>
	<div class="row">
		<ul>
			<li> <a href="/images/Baoying-position.pdf">Position Description;</a> </li>
			<li> <a href="/images/Baoying-Info.pdf">Info about Baoying;</a> </li>
			<li> <a href="/images/Baoying-Housing.pdf">Living Facilitiies</a>	</li>
		</ul>
	</div>
	<p>If you wish to teach English in China, please send a letter of interest, along with a resume (one-page limit), via e-mail to: <a href="mailto:UsChinaEducation@yahoo.com">UsChinaEducation@yahoo.com</a>. </p>

</div>

<%- include('./includes/footer.ejs')%>