<%- include('./includes/header.ejs')%>

<div class="container">
    <h2>Testimonials</h2>
	<!-- <div class="row">
		<h2>Testimonials</h2>
    </div>
    <div class="row">
        <div class="col-md-4 p-2">
            <div class="card" style="width: 20rem;">
                <img class="card-img-top" src="https://via.placeholder.com/15-.png?text=headshot" alt="Jo Ann">
                <div class="card-body">
                    <h5 class="card-title">Jo Ann, New York, NY</h5>
                    <p class="card-text">Over the past years, USCEC led many groups of US educators to China every spring and summer, and all had a wonderful experience. The following are some of their post-trip comments.</p>
                    <p class="card-text">I'd like to take the opportunity to thank you for planning, organizing and leading such a wonderful, exciting and memorable trip. I truly hope we will be able to meet again and perhaps travel again someday.</p>
                </div>
            </div>    
        </div>   
        <div class="col-md-4 p-2">
            <div class="card" style="width: 20rem;">
                <img class="card-img-top" src="https://via.placeholder.com/15-.png?text=headshot" alt="Claudia">
                <div class="card-body">
                    <h5 class="card-title">Claudia, New York, NY</h5>
                    <p class="card-text">I want to thank you once again for the opportunity to be a part of such an awesome learning experience. I think it's the best vacation I ever had, especially because all the details/accommodations were handled by you with such precision. I am delighted to have visited the historic sites and gained knowledge about the rich Chinese culture and history. The visit to the Nanjing Foreign Language School was one of the trip's highlights and I commend you for the wonderful work that you are doing. When I watch the Olympics in August I will be able to do so with an advantage over the average viewer, having actually been in China and met the people. The tour guides were very knowledgeable about the country's history and everyone in the group got along with each other, which made the trip a pleasure. I look forward to going with you to Hong Kong and other parts so please keep me posted about future travel opportunities.</p>
                </div>
            </div>    
        </div>   
    </div> -->
	
</div>



<%- include('./includes/footer.ejs')%>