<%- include('./includes/header.ejs')%>

<div class="pageTitle">
	<div class="row">
            <div class="col-md pageImg">
                <img src="/images/Vaccinations.jpg" class="img-responsive fit-image">
            </div>
            <div class="col-md pageInfor">
            <div>
                <h2>Vaccinations</h2>
            </div>
        </div>
	</div>
</div>

<div class="container">
    <div class="row">
        <h2>Immunizations</h2>
    </div>
    <div class="row">
        <p>
            We do not require any shots for travel to China. You should check the WHO (World Health Organization) website for information about vaccines and other health related issues for travel to China. This site has general information:
        </p>
        <a href="http://www.who.int/ith/en/">General information</a>
    </div>
    <br>
    <div class="row">
        <p>This is the country list, with vaccines suggested for each country:</p>
    </div>
    <div class="row">
        <a href="http://whqlibdoc.who.int/publications/2005/9241580364_country_list.pdf">List of vaccines for each country</a>
    </div>
    <br>
    <div class="row">
        <p>If necessary, you should also consult your doctor.</p>
    </div>
</div>


<%- include('./includes/footer.ejs')%>