<%- include('./includes/header.ejs')%>

<div class="pageTitle">
	<div class="row">
		<div class="col-md pageImg">
			<img src="/images/WC1.jpg" class="img-responsive fit-image">
		</div>
		<div class="col-md pageInfor">
			<h2>Why China</h2>
			<p>An actual visit sure will help reduce that bewlderement and open your eyes to China's real nature.</p>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<p>As the world's longest continuous civilization, China is a most appealing region to visit. The wealth of its culture, the richness of its history, the hospitality of the people, and the wide range of beautiful landscapes make China one of the most rewarding countries to explore.
			And modern China is even more fascinating: the traditional way of life now exists side by side with a newly emerging, Western-influenced culture. It is this rejuvenated, multifaceted China that you can look forward to discovering on our tour.</p>
	</div>
	<div class="sectionLine row"></div>
	<div class="row">
		<h3>Relative Comments</h3>
	</div>
	<div class="row">
		<div class="col">
			<img src="/images/smile.jpg" alt="">
			<p>"For a long time China was a completely unknown quantity to those living in the West, and even today seems set apart by differences of language, custom, and attitude. Now that China has over 1 billion people within its borders, it suffers internal pressures that the rest of us can only guess at; and the swings of its political life, the switches  in its cultural moods, the lurches in its economy, the fact that its stated hostility to foreign influences is so often accompanied by the flashes of a welcoming smile,  all combine to keep us in a state of bewilderment as to China's real nature."</p>
			<p><b>-- Jonathan Spence</b>, History Professor at Yale University: <i>Search for Modern China</i> </p>
		</div>
		<div class="col">
			<img src="/images/city.jpg"" alt="">
			<p>“China has telescoped into one generation what other countries took centuries to achieve. No country (let alone one of continental proportions) has tried to accomplish so much in such a short time. China’s unique attempt to complete two transitions at once –from a command to a market economy and from a rural to an urban society—is without historical precedent.”</p>	
			<p><b>--The World Bank</b>, China 2020: Development and Challenges in the New Century</p>		
		</div>
		<div class="col">
			<img src="/images/economy.jpg" alt="">
			<p>“ Nowhere in the world is there a market like this—nowhere. To me, the 21st century will be the Chinese century. China will change the economic balance of the world.”</p>	
			<p><b>--Guy McLeod</b>, President, Airbus China</p>		
		</div>
	</div>
	<div class="sectionLine row"></div>
	<div class="row">
		<h3>Relative Articles</h3>
	</div>
	<div class="row">
		<ul>
			<li>
				<p>“U.S. Study Sees China as No. 1 Economy by 2030" <a href="https://www.nytimes.com/2012/12/11/world/china-to-be-no-1-economy-before-2030-study-says.html">Read more</a></p>
				<p><b>--Thom Shanker</b>, New York Times, December 10, 2012</p>
			</li>
			<li>
				<p>"Take Chinese Creativity Seriously or Lose Out" <a href="https://www.ft.com/content/6ad6d0ae-5e97-11e3-8621-00144feabdc0">Read More</a></p>
				<p><b>--John Howkins</b>,  Financial Times: December 15, 201</p>
			</li>
		</ul>	
	</div>
</div>


<%- include('./includes/footer.ejs')%>