body, html{
	height:100%;
	width:100%;
	font-family: Arial !important;
	overflow-x: hidden;

}
.topLeft a {
	width: 200px;
	display: block;
	margin-left: 5%;
}

.topRight{
	text-align: right;
	margin-top: 2%;
	margin-right: 5%;
}

/* header css */
.navbar{
	background-color:#337488;
}

.navbar ul {
    margin:0 auto;
	font-size: 1.4em;
}
.navbar a{
	color: black;
}
.navbar-dark .navbar-nav .nav-link {
    color: white !important;
}
.navbar a:hover{
    color: #7d7d7d;
	text-decoration: underline 1px;
	transition: color 0.5s;
}

.dropdown:hover .dropdown-menu {
	display: block;
}
.active{
	color: #7d7d7d !important;
}

.col-md{
	text-align: center;
}

.fit-image{
width: 100%;
object-fit: cover;
/* height: 300px; only if you want fixed height */
}


/* footer css */
.btp {
	text-align: center;
	font-size:1.5em ;
	margin-top: 2%;
}
.btp a{
	color:#7d7d7d !important;
}
footer{
	margin-top:3%;
	padding-top: 2%;
	background-color:#337488;
	color:white;
}

.copyright{
	text-align: center;
	font-size: small;
}


.footer a:hover{
	color: #7d7d7d;
	text-decoration: underline 1px;
	transition: color 0.5s;
}

.footer a{
	color: white;
}

.title-row{
	text-decoration: underline;
	font-weight: bold;
	font-size: larger;
}

.col-md{
	text-align: left;
}


/* body css */
.pageTitle{
	position: relative;
	text-align: left;
	color:white;
}
.pageInfor{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color:rgba(0,0,0,0.7);
	padding:2em;
}
.pageImg{
	padding:7% 0;
}
.imgpadding{
	padding-left: 10px
}
.pageTitle h2{
	text-align: center;
}
.pageTitle p{
	font-size: 20px;
}

.container h4{
	text-align: center;
}
/* body css */
.pageTitle{
	position: relative;
	text-align: left;
	color:white;
}
.pageInfor{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color:rgba(0,0,0,0.7);
	padding:2em;
  }
.pageImg{
	padding:7% 0;
}
.imgpadding{
	padding-left: 10px
}
.pageTitle h2{
	text-align: center;
}
.pageTitle p{
	font-size: 20px;
}

.container p{
	font-size: 1em;
}
.container h4{
	text-align: center;
}
@media screen and (min-width: 495px){
	.pageTitle img{
		width:100%;
		height:410px;
	  }
	  .container{
		margin-top:3%;
		max-width:720px !important;
	 	/*max-width:720px !important;*/
	}
}

