
.topLeft img{
	display: block;
	margin-left: 5%;
	/* margin-right: auto; */
	
}
.topRight{
	text-align: right;
	margin-top: 2%;
	margin-right: 5%;
}
.topRight a{
	float: right;
	margin-right:2%;
}
/* header css */
.navbar{
	background-color:#337488;
}

.navbar ul {
    margin:0 auto;
	font-size: 1.4em;
}
.navbar a{
	color: black;
}
.navbar-dark .navbar-nav .nav-link {
    color: white !important;
}
.navbar a:hover{
    color: #7d7d7d;
	text-decoration: underline 1px;
	transition: color 0.5s;
}

.dropdown:hover .dropdown-menu {
	display: block;
 }
.active{
	color: #7d7d7d !important;
}

.col-md{
	text-align: center;
}

.fit-image{
width: 100%;
object-fit: cover;
height: 300px; /* only if you want fixed height */
}


/* footer css */
footer{
	padding-top: 2%;
	background-color:#337488;
	color:white;
}

.copyright{
	text-align: center;
}

.footer a:hover{
	color: #7d7d7d;
	text-decoration: underline 1px;
	transition: color 0.5s;
}

.footer a{
	color: white;
}

.title-row{
	text-decoration: underline;
	font-weight: bold;
	font-size: larger;
}

.col-md{
	text-align: left;
}


/* body css */
.pageTitle{
	position: relative;
	text-align: left;
	color:white;
}
.pageTitle img{
	width:100%;
  }
.pageInfor{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color:rgba(0,0,0,0.7);
	padding:2em;
  }
.pageImg{
	padding:7% 0;
}
.pageTitle h2{
	text-align: center;
}
.pageTitle p{
	font-size: 20px;
}
.sectionLine{
	border-top: 2px solid #999;
	margin:2% 0;
}
/* about us page css */
.container img{
	border-radius: 5%;
}
/* china trip css */
.container h4{
	text-align: center;
}


